@{
  Layout = "_Layout";
}

@model Restaurant.Models.Cuisine

<h3>@Html.DisplayNameFor(model => model.Dish): @Html.DisplayFor(model => model.Dish)</h3>
<h3>@Html.DisplayNameFor(model => model.DishType): @Html.DisplayFor(model => model.DishType)</h3>

@Html.ActionLink("Delete This Cuisine", "Delete", new {id = Model.CuisineId})
<br>
@Html.ActionLink("Update This Cuisine", "Update", new {id = Model.CuisineId})
<br>
@Html.ActionLink("Back to Cuisine List", "Index")