@{
    Layout = "_Layout";
}
@model Restaurant.Models.Cuisine;

<h2>Edit</h2>
<h4>Edit Dish Type: @Html.DisplayFor(model => model.DishType)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.CuisineId)

    @Html.LabelFor(model => model.DishType)
    @Html.EditorFor(model => model.DishType)

    
    <input type="submit" value="Save"/>
}

<p>@Html.ActionLink("Back to Restaurant List", "Index")</p>